* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: white;
    overflow-x: hidden;
}


nav {
    display: flex;
    height: 80px;
    width: 100%;
    background-color: red;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 100px;
    flex-wrap: wrap;

}

nav .logo {
    color: white;
    font-size: 35px;
    font-weight: 600;

}

.inicio {
    text-align: center;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;

}

nav ul li {
    margin: 0 5px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}

nav ul li a.active,
nav ul li a:hover {
    background: yellow;

}

nav .menu-btn i {
    color: white;
    cursor: pointer;
    display: none;
}

@media (max-width:920px) {
    nav .menu-btn i {
        display: block;
    }

    nav ul {
        position: fixed;
        top: 80px;
        left: -100%;
        background-color: green;
        height: 100vh;
        width: 100%;
        text-align: Center;
        display: block;
        transition: all 0.3s ease;

    }

    nav ul.open {
        left: 0;
    }

    nav ul li {
        width: 100%;
        margin: 50px 0;

    }

    nav ul li a {
        font-size: 23px;
    }

    nav ul li a.active,
    nav ul li a:hover {
        background: none;
        color: orange;
    }
}

footer {
    width: 100%;

    color: white;
    bottom: 0;
    left: 0;
    position: fixed;

}

#footer_content {
    background-color: red;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem 3.5rem;

}

#footer_copyright {
    display: flex;
    justify-content: center;
    align-items: flex-end;

    background-color: blue;
    font-size: 1.5rem;
    font-weight: 100;
}

@media screen and (max-width: 768px) {
    #footer_content {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

@media screen and (max-width: 768px) {
    #footer_content {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;

    }
}

.corpo {
    background-color: grey;
    padding: 25px;
    border-radius: 10px;
    border: 1px solid black;
    margin: 30px;
}

.corpo p {
    font-size: 20px;
    font-family: arial;
}

.corpo h1 {
    font-size: 35px;
    font-family: arial;
}

.video {
    text-align: center;


}

.video video {
    border: 10px solid black;
    border-radius: 10px;
}