* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: white;
    overflow-x: hidden;
    
}

nav{
    display: flex;
    height: 80px;
    width: 100%;
    background-color: rgb(184, 117, 117);
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 100px;
}

nav .nome_site {
    color: black;
    font-size: 35px;
    font-weight: 600;
}

.inicio {
    text-align: center;
    padding:10px;
}

nav ul {
    display: flex;
    list-style: none;

}

nav ul li {
    margin: 0 5px;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    font-family:arial;
}


nav ul li a:hover {
    background: grey;

}

footer {
    width:100%;
    color: black;
    bottom: 0;
    left: 0;
}

.footer_informação {
    background-color: rgb(184, 117, 117);
    padding:25px;

}

.footer_copyright {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: rgb(110, 49, 49);
    font-size: 1.5rem;
    font-weight: 100;
}



.corpo {
    background-color: grey;
    padding: 25px;
    border-radius: 10px;
    border: 1px solid black;
    margin: 30px;
}

.corpo p {
    font-size: 20px;
    font-family: arial;
    padding:10px;
}

.corpo h1 {
    font-size: 35px;
    font-family: arial;
}

.video {
padding:10px;
}
